<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja danych pracownika</title>

    <div th:replace="components/head :: head">...</div>
</head>
<body style="font-family: figtree">

<div th:replace="components/navbar :: navbar-loged">...</div>

<div align="center" class="pt-4">
    <h1>Edytuj dane</h1>
    <br/>
    <div class="container">
        <form action="#" th:action="@{/update}" th:object="${pracownik}" method="post">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text text-white bg-dark" style="width: 250px">ID</span>
                </div>
                <input class="form-control" type="text" th:field="*{idPracownika}" readonly="readonly">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text text-white bg-dark" style="width: 250px">Imie</span>
                </div>
                <input class="form-control" type="text" th:field="*{imie}">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text text-white bg-dark" style="width: 250px">Nazwisko</span>
                </div>
                <input class="form-control" type="text" th:field="*{nazwisko}">
            </div><div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text text-white bg-dark" style="width: 250px">Pesel</span>
            </div>
            <input class="form-control" type="text" th:field="*{pesel}">
        </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text text-white bg-dark" style="width: 250px">Telefon</span>
                </div>
                <input class="form-control" type="text" th:field="*{telefon}">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text text-white bg-dark" style="width: 250px">E-mail</span>
                </div>
                <input class="form-control" type="text" th:field="*{email}">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text text-white bg-dark" style="width: 250px">Nr konta bankowego</span>
                </div>
                <input class="form-control" type="text" th:field="*{numerKontaBankowego}">
            </div>
            <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text text-white bg-dark" style="width: 250px">Stanowisko</span>
            </div>
            <input class="form-control" type="text" th:field="*{stanowisko}">
        </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text text-white bg-dark" style="width: 250px">ID Bazy</span>
                </div>
                <input class="form-control" type="text" th:field="*{idBazy}">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text text-white bg-dark" style="width: 250px">ID Adresu</span>
                </div>
                <input class="form-control" type="text" th:field="*{idAdresu}">
            </div>
            <button
                    class='btn text-white'
                    style="background-color: #CC3533; font-size: 18px"
                    type="submit"
            >Zapisz</button>
        </form>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>