<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zarządzanie pracownikami</title>

    <div th:replace="components/head :: head">...</div>
</head>
<body style="font-family: figtree;">

<div th:replace="components/navbar :: navbar-loged">...</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 mt-5">

            <label style="font-size:30px">Zarządzanie pracownikami</label>
            <div style="font-size:20px">Edytowanie danych związanych z pracownikami
            </div>

        </div>
    </div>
</div>

<div style="margin-left: -200px">
<div class="container text-nowrap">
    <div class="col-md-10 mt-5">
        <a href="/new"
           class="btn text-white mt-1 mb-1"
           style="background-color: #CC3533; font-size: 18px"
        >Dodaj nowego pracownika</a>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>PESEL</th>
                <th>Nr telefonu</th>
                <th>E-mail</th>
                <th>Nr konta bankowego</th>
                <th>Stanowisko</th>
                <th>ID bazy</th>
                <th>ID adresu</th>
                <th>Operacja</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="pracownik : ${listPracownik}">
                <td th:text="${pracownik.idPracownika}">ID</td>
                <td th:text="${pracownik.imie}">Imię</td>
                <td th:text="${pracownik.nazwisko}">Nazwisko</td>
                <td th:text="${pracownik.pesel}">PESEL</td>
                <td th:text="${pracownik.telefon}">Nr telefonu</td>
                <td th:text="${pracownik.email}">E-mail</td>
                <td th:text="${pracownik.numerKontaBankowego}">Nr konta bankowego</td>
                <td th:text="${pracownik.stanowisko}">Stanowisko</td>
                <td th:text="${pracownik.idBazy}">ID bazy</td>
                <td th:text="${pracownik.idAdresu}">ID adresu</td>
                <td>
                    <a th:href="@{'/edit/' + ${pracownik.idPracownika}}">Edytuj</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${pracownik.idPracownika}}">Usuń</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>