<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zarządzanie pracownikami</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Warszawska Baza Komunikacji Miejskiej</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Home</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">Main
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-10 mt-5">

            <label style="font-size:30px">Zarządzanie pracownikami</label>
            <div style="font-size:20px">Edytowanie danych związanych z pracownikami
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-10 mt-5">
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>PESEL</th>
                <th>Nr telefonu</th>
                <th>E-mail</th>
                <th>Nr konta bankowego</th>
                <th>Stanowisko</th>
                <th>ID bazy</th>
                <th>ID adresu</th>
                <th>Operacja</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="pracownik : ${listPracownik}">
                <td th:text="${pracownik.idPracownika}">ID</td>
                <td th:text="${pracownik.imie}">Imię</td>
                <td th:text="${pracownik.nazwisko}">Nazwisko</td>
                <td th:text="${pracownik.pesel}">PESEL</td>
                <td th:text="${pracownik.telefon}">Nr telefonu</td>
                <td th:text="${pracownik.email}">E-mail</td>
                <td th:text="${pracownik.numerKontaBankowego}">Nr konta bankowego</td>
                <td th:text="${pracownik.stanowisko}">Stanowisko</td>
                <td th:text="${pracownik.idBazy}">ID bazy</td>
                <td th:text="${pracownik.idAdresu}">ID adresu</td>
                <td>
                    <a th:href="@{'/edit/' + ${pracownik.idPracownika}}">Edytuj</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${pracownik.idPracownika}}">Usuń</a>
                </td>
            </tr>
            </tbody>
        </table>

        <a href="/new">Dodaj nowego pracownika</a>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>