<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły linii</title>

    <div th:replace="components/head :: head">...</div>
</head>
<body style="font-family: figtree">

<div th:replace="components/navbar :: navbar-loged">...</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 mt-5">

            <label style="font-size:30px">Szczegóły linii</label>
            <div style="font-size:20px">Przystanki występujące na tej linii
            </div>

        </div>
    </div>
</div>


<div class="container">
    <div class="col-md-10 mt-5">
        <a
           class="btn text-white mt-1 mb-1"
           style="background-color: #CC3533; font-size: 18px"
           th:object = "${linia}"
           th:href = "@{${linia.id_linii} + '/new_stop_on_route'}"
        >Dodaj nowy przystanek</a>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>ID przystanku</th>
                <th>Nazwa</th>
                <th>Operacja</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="przystankiNaLinii : ${listPrzystankiNaLinii}">
                <td th:text="${przystankiNaLinii.idPrzystanku}">ID przystanku</td>
                <td th:text="${przystankiNaLinii.nazwa}">Nazwa</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{${przystankiNaLinii.idLinii} + '/delete_stop_from_route/' + ${przystankiNaLinii.idPrzystanku}}">Usuń</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>