<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Main Admin Page</title>

  <div th:replace="components/head :: head">...</div>
</head>
<body style="font-family: figtree">

<div th:replace="components/navbar :: navbar-loged">...</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 mt-5">
        <label style="font-size:30px" th:inline="text">Główny Panel administracyjny</label>
    </div>
  </div>
</div>

<div class="container">
    <a th:href="@{/emp_management}">
        <button class="btn btn-outline-" style="margin-top: 50px; width: 250px; height: 60px; font-size: 20px">Zarządzaj pracownikami</button>
    </a>
</div>

    <div class="container">
        <a th:href="@{/routes_management}">
            <button class="btn btn-outline-" style="margin-top: 20px; width: 250px; height: 60px; font-size: 20px">Zarządzaj liniami</button>
        </a>
    </div>

    <div class="container">
        <button class="btn text-white" type="submit" onclick="successfullyLogout()"
                style="margin-top: 20px; width: 180px; height: 45px; background-color: #CC3533; font-size: 18px"
                value="Sign Out">Wyloguj się
        </button>
    </div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>