<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nową linie</title>

    <div th:replace="components/head :: head">...</div>
</head>
<body style="font-family: figtree">

<div th:replace="components/navbar :: navbar-loged">...</div>

<div align="center" class="pt-4">
    <h1>Dodaj nową linie</h1>

    <br/>
    <div class="container">
    <form action="#" th:action="@{/save_linia}" th:object="${linia}" method="post">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text text-white bg-dark" style="width: 250px">Czy Aktywna</span>
            </div>
            <input class="form-control" type="text" th:field="*{czy_aktywna}" required>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text text-white bg-dark" style="width: 250px">Rodzaj linii</span>
            </div>
            <input class="form-control" type="text" th:field="*{rodzaj_linii}" required>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text text-white bg-dark" style="width: 250px">ID Bazy</span>
            </div>
            <input class="form-control" type="text" th:field="*{id_bazy}" required>
        </div>
        <button  class='btn text-white'
                 style="background-color: #CC3533; font-size: 18px"
                 type="submit"
        >Zapisz</button>
    </form>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>