<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowy przystanek na linii</title>

    <div th:replace="components/head :: head">...</div>
</head>
<body style="font-family: figtree">

<div th:replace="components/navbar :: navbar-loged">...</div>

<div align="center">

    <h1 class="mt-3">Wybierz przystanek z listy istniejących</h1>
    <br/>
    <div class="container" style="width: 500px">
    <form action="#" th:action="@{./save_przystanek_na_linii}" th:object="${przystankiNaLinii}" method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text text-white bg-dark" for="inputGroupSelect01" style="width: 150px">Przystanek</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" th:name = "idPrzystanku">
                <option th:each = "przystanek : ${listTypePrzystanek}" th:text="${przystanek.nazwa}" th:value = "${przystanek.idPrzystanku}"></option>
            </select>
        </div>
        <button class='btn text-white'
                style="background-color: #CC3533; font-size: 18px"
                type="submit">Dodaj</button>
    </form>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>