<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lista linii</title>

  <div th:replace="components/head :: head">...</div>
</head>
<body style="font-family: figtree">

<div th:replace="components/navbar :: navbar-loged">...</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 mt-5">

      <label style="font-size:30px">Zarządzanie liniami</label>
      <div style="font-size:20px">Edytowanie danych związanych z liniami
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-10 mt-5">
      <a href="/new_route"
         class="btn text-white mt-1 mb-1"
         style="background-color: #CC3533; font-size: 18px"
      >Dodaj nową linie</a>
      <table class="table">
          <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Czy aktywna</th>
        <th>Rodzaj linii</th>
        <th>ID bazy</th>
        <th>Operacja</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="linia : ${listLinia}">
<!--        <td th:text="${linia.idLinii}">ID</td>-->
        <td>
          <a th:href="@{'/inspect_route/' + ${linia.idLinii}}" th:text="${linia.idLinii}">ID</a>
        </td>
        <td th:text="${linia.czyAktywna}">Czy aktywna</td>
        <td th:text="${linia.rodzajLinii}">Rodzaj linii</td>
        <td th:text="${linia.idBazy}">ID Bazy</td>
        <td>
          <a th:href="@{'/edit_route/' + ${linia.idLinii}}">Edytuj</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a th:href="@{'/delete_route/' + ${linia.idLinii}}">Usuń</a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

</body>
</html>