<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dostępne linie</title>

    <div th:replace="components/head :: head">...</div>
</head>
<body style="font-family: figtree">

<div th:replace="components/navbar :: navbar-loged-user">...</div>
<div class="container">
    <div class="row">
        <div class="col-md-10 mt-5">

            <label style="font-size:30px">Wybierz linie</label>
            <div style="font-size:20px">Kliknij w interesującą cię linie
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-10 mt-5">
        <table class="table" style="width: 200px;">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="linia : ${listLiniaType}">
                <!--        <td th:text="${linia.idLinii}">ID</td>-->
                <td>
                    <a th:href="@{'/inspect_route_user/' + ${linia.id_linii}}" th:text="${linia.id_linii}">ID</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>